<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 컬럼명 카멜 표기법 자동 변환 설정 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<!-- 줄여서 지칭 -->
		<!-- 로그인 -->
		<typeAlias type="kosta.model.comm.vo.LoginVO" alias="LoginVO" />
		<!-- 부서 / 직업 / 직책 -->
		<typeAlias type="kosta.model.comm.vo.EmpCategoryVO" alias="EmpCateVO" />
		<!-- 검색 -->
		<typeAlias type="kosta.model.module.vo.SearchVO" alias="SearchVO" />
		<!-- 공지사항 -->
		<typeAlias type="kosta.model.module.vo.NoticeVO" alias="NoticeVO" />
		<!-- 인사관리 -->
		<typeAlias type="kosta.model.module.vo.EmpVO" alias="EmpVO" />
		<!-- 전자 결재 S-->
		<typeAlias type="kosta.model.module.vo.ApprovalDraft" alias="ApprovalDraft" />
<!-- 		<typeAlias type="kosta.model.module.vo.ApprovalFormSearch" alias="ApprovalFormSearch" /> -->
		<typeAlias type="kosta.model.module.vo.ApprovalVacation" alias="ApprovalVacation" />
		<typeAlias type="kosta.model.module.vo.ApprovalForm" alias="ApprovalForm" />
		<typeAlias type="kosta.model.module.vo.ApprovalExpence" alias="ApprovalExpence" />
		<typeAlias type="kosta.model.module.vo.ApprovalExpenceCont" alias="ApprovalExpenceCont" />
		<!-- 전자 결재 > 댓글 -->
		<typeAlias type="kosta.model.module.vo.DraftComment" alias="DraftComment" />
		<!-- 전자 결재 E-->
		
		<!-- 스케쥴 -->
		<typeAlias type="kosta.model.module.vo.ScheduleProject" alias="ScheduleProject" />
		<typeAlias type="kosta.model.module.vo.ScheduleCategory" alias="ScheduleCategory" />	
		<typeAlias type="kosta.model.module.vo.ScheduleCalender" alias="ScheduleCalender" />
		<typeAlias type="kosta.model.module.vo.ScheduleCalenderList" alias="ScheduleCalenderList" />
		<typeAlias type="kosta.model.module.vo.ScheduleCalenderMove" alias="ScheduleCalenderMove" />
		
		<!-- 회의실 -->
		<typeAlias alias="MeetingRoom" type="kosta.model.module.vo.MeetingRoom"/>
		<typeAlias alias="MeetingRoomSearch" type="kosta.model.module.vo.MeetingRoomSearch"/>
		<typeAlias alias="Reservation" type="kosta.model.module.vo.Reservation"/>
		<typeAlias alias="ReservationSearch" type="kosta.model.module.vo.ReservationSearch"/>
		<typeAlias alias="Departments" type="kosta.model.module.vo.Departments"/>
		
		<typeAlias alias="EMP" type="kosta.model.module.vo.Emp"/>
		
		<!-- 차량등록 -->
		<typeAlias alias="RentCarDetail" type="kosta.model.module.vo.RentCarDetail"/>
		<typeAlias alias="RentCarDetailSearch" type="kosta.model.module.vo.RentCarDetailSearch"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			
			<!-- 커넥션 풀 방식 -->
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/oracle" />
			</dataSource>
		</environment>		
	</environments>
	
	<mappers>
		<!-- 매퍼 매핑 -->
		<!-- 공통 -->
		<mapper resource="kosta/mapper/comm/Comm.xml" />
		<!-- 공지사항 -->
		<mapper resource="kosta/mapper/module/Notice.xml" />
		<!-- 인사 관리 -->
		<mapper resource="kosta/mapper/module/Emp.xml" />
		<!-- 전자 결재 -->
		<mapper resource="kosta/mapper/module/Approval.xml"/>
		<!-- 스케쥴 -->
		<mapper resource="kosta/mapper/module/Schedule.xml" />
		<!-- 회의실 -->
		<mapper resource="kosta/mapper/module/MeetingRoom.xml"/>
		<mapper resource="kosta/mapper/module/Reservation.xml"/>
		
		<!-- 차량등록 -->
		<mapper resource="kosta/mapper/module/RentCarDetail.xml"/>
	</mappers>
	
</configuration>